{{ define "main" }}
<h1>{{ .Title }}</h1>
<h1></h1>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
$dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
{{ .TableOfContents }}
{{ .Content }} {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
<p>Comments: (If it disappears, reload the page)</p>
<div
  id="cusdis_thread"
  aria-label="comment-form"
  data-host="https://cusdis.com"
  data-app-id="baec687e-88b1-42de-8446-e48839c79593"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
<script>
 //workaround for cusdis height
window.addEventListener('load', function () {
            setTimeout(() => {
                let scrollHeight = document.querySelector("#cusdis_thread iframe").contentWindow.document.body.scrollHeight;
                document.querySelector("#cusdis_thread iframe").style.height = scrollHeight + "px";
  
            }, 2000);
        });


</script>

{{ end }}
