{{ define "main" }}
<h1>{{ .Title }}</h1>
<h1></h1>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
$dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

{{ .Content }} {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
<div
  id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="baec687e-88b1-42de-8446-e48839c79593"
  pageId="window.location.pathname"
  pageTitle="document.title"
  pageUrl="window.location.href"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{{ end }}
